name: Build Project

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20.5.1'  # Specify the Node.js version

    - name: Install dependencies
      run: npm install

    - name: Run build
      run: npm run build
    - name: Update HTML File
      run: node update-html.js

    - name: Commit and push if necessary
      run: |
        git config --global user.email "houssem.masri@appsdelivered.com"
        git config --global user.name "Houssem Masri"
        git diff
        git commit -am "Automated build update" || echo "No changes to commit"
        echo secrets.GH_PAT
        git push --set-upstream https://${{ secrets.GH_PAT }}@github.com/${GITHUB_REPOSITORY} HEAD:${GITHUB_REF##*/}
